body{
    background-color: #1c1c1c; 
    color: #f5f5dc; 
    user-select: none;
}

.content{
    display: flex;
    align-items:center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.content_left{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 300;
    height:100vh;
    width: 15vw;
    justify-content: center;
    position: relative; 
}


.content_middle{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-style: italic;
    align-items: center;
    height:100vh;
    width: 85vw;
    justify-content: center;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 30vw;
    margin-right: 4vh;
    align-items: center;
}

.text{
    margin-left: 3vh;
}
.box{
    margin-bottom: 5vh;
    width: 20vw;
}


.paragraphs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraphs-container a{
    text-decoration: none;
    color: #f5f5dc;
    /*transform: rotate(-90deg);*/
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}
.paragraphs-container a:hover{
    transform: scale(1.05); /* agrandit légèrement la box au survol */
}

.nav-line {
    width: 1px;
    height: 30vh;
    background-color:#f5f5dc;
}
#notcurrent{
    opacity: .3;
}
#notcurrent:hover{
    opacity: 1;
}

.logo_container {
    position: fixed;
    bottom: 2vh; 
    right: 4vh;
    text-align: end;
}
#logo{
    width: 5%;
}
.responsive{
    display: none;
}

/*toggle*/

#switch-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 4vh;
    right: 2vh;
    text-align: end;
}
.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 11px;
  pointer-events: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #f5f5dc;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #1c1c1c;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #f5f5dc;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #1c1c1c;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #f5f5dc;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #f5f5dc;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #1c1c1c;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}
/*
input.check-toggle-round-flat:checked + label {
  
}*/

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

#fr1{
    display: none;
}
#fr2{
    display: none;
}

/*----------RESPONSIVE----------*/

/* PHONE */
@media screen and (max-width: 767px) { 
    .content{
        flex-direction: column;
    }
    .content_left{
        height: 40vh;
        width: 100vw;
        font-weight: 400;
    }
    .paragraphs-container{
        flex-direction: row;
    }
    .paragraphs-container a{
        display: inline;
        margin-right: 2vh;
        margin-left: 2vh;
        font-size: 40px;
    }
    .nav-line{
        display: none;
    }
    .logo_container{
        display: block;
        text-align: start;
        left: 2vh;
        top:unset;
        bottom: 2vh;
    }
    #logo{
        width: 7%;
        margin-bottom: 1vh;
        margin-right: 1vh;
    }
    
    /*content middle*/
    .content_middle{
        flex-direction: column;
        font-size: 25px;
        max-height: 80vh;
        overflow: scroll;
        scrollbar-width: auto;
        scrollbar-color: #f5f5dc #757474;
    }
    .box{
        margin-bottom: 5vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .column{
        display: block;
        height: 40vh;
        width: 80vw;
        margin-right: unset;
    }
    .noresponsive{
        display: none;
    }
    .responsive{
        display: block;
    }
    .text{
        font-size: 30px;
    }
    #switch-container{
        height:unset;
        top:unset;
        bottom:4vh;
        z-index: 10;
    }
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {  
    .content{
        flex-direction: column;
    }
    .content_left{
        height: 40vh;
        width: 100vw;
        font-weight: 400;
    }
    .paragraphs-container{
        flex-direction: row;
    }
    .paragraphs-container a{
        display: inline;
        margin-right: 2vh;
        margin-left: 2vh;
        font-size: 40px;
    }
    .nav-line{
        display: none;
    }
    .logo_container{
        display: block;
        text-align: start;
        left: 2vh;
        top:unset;
        bottom: 2vh;
    }
    #logo{
        width: 7%;
        margin-bottom: 1vh;
        margin-right: 1vh;
    }

    /*content middle*/
    .content_middle{
        flex-direction: column;
        font-size: 25px;
        max-height: 80vh;
        overflow: scroll;
        scrollbar-width: auto;
        scrollbar-color: #f5f5dc #757474;
    }
    .box{
        margin-bottom: 5vh;
        margin-left: 2vh;
        margin-right: 2vh;
        width: unset;
    }
    .column{
        display: block;
        height: 40vh;
        width: 80vw;
        margin-right: unset;
    }
    .noresponsive{
        display: none;
    }
    .responsive{
        display: block;
    }
    .text{
        font-size: 30px;
    }
    #switch-container{
        height:unset;
        top:unset;
        bottom:4vh;
        z-index: 10;
    }
    
}
