
body{
    background-color: #1c1c1c; 
    color: #f5f5dc; 
    user-select: none;
    overflow: hidden; 
}

.content{
    display: flex;
    align-items:center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.content_left{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 500;
    height:100vh;
    width: 15vw;
    justify-content: center;
    position: relative; 
    font-weight: 300;
}


.content_middle{
    position: relative;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight:400;
    font-style: italic;
    align-items: center;
    height:100vh;
    width: 85vw;
    justify-content: center;
    flex-direction: column;
    text-align:end;
    
}

.logo_container {
    position: fixed;
    top: 2vh;
    right: 2vh;
    text-align: end;
}
#logo{
    width: 5%;
}

.paragraphs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraphs-container a{
    text-decoration: none;
    color: #f5f5dc;
    /*transform: rotate(-90deg);*/
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}
.paragraphs-container a:hover{
    transform: scale(1.05); /* agrandit légèrement la box au survol */
}

.star_container{
    font-size: 25px;
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    
}
.nav-line {
    width: 1px;
    height: 30vh;
    background-color:#f5f5dc;
}

.typing-text{
    overflow: hidden; 
    border-right: .09em solid #f5f5dc; 
    white-space: nowrap; 
    letter-spacing: .10em;
    animation: typing 2.5s steps(30, end), blink-caret .8s step-end infinite; 
}   
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f5f5dc }
}


#notcurrent{
    opacity: .3;
}
#notcurrent:hover{
    opacity: 1;
}

#link_cy{ 
    text-decoration: none;
    font-weight: bold;
    color:#f5f5dc;
}


/*----------RESPONSIVE----------*/

/* PHONE */
@media screen and (max-width: 767px) { 
    .content{
        flex-direction: column;
    }
    .content_left{
        height: 20vh;
        width: 100vw;
        font-weight: 400; 
    }
    .content_middle{
        height:60vh;
    }
    .paragraphs-container{
        flex-direction: row;
    }
    .paragraphs-container a{
        margin-right: 2vh;
        margin-left: 2vh;
        display: inline;
        font-size: 40px;
    }
    .nav-line{
        display: none;
    }
    .logo_container{
        text-align: start;
        left: 0;
        top:unset;
        bottom: 0;
    }
    #logo{
        width: 7%;
        margin-bottom: 1vh;
        margin-right: 1vh;
    }
    .star_container{
        font-size: 35px;
    }
    .typing-text{
        font-size: 60px;
    }
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {  
    .content{
        flex-direction: column;
    }
    .content_left{
        height: 20vh;
        width: 100vw;
        font-weight: 400; 
    }
    .content_middle{
        height:60vh;
    }
    .paragraphs-container{
        flex-direction: row;
    }
    .paragraphs-container a{
        display: inline;
        margin-right: 2vh;
        margin-left: 2vh;
        font-size: 40px;
    }
    .nav-line{
        display: none;
    }
    .logo_container{
        text-align: start;
        left: 2vh;
        top:unset;
        bottom: 2vh;
    }
    #logo{
        width: 7%;
        margin-bottom: 1vh;
        margin-right: 1vh;
    }
    .star_container{
        font-size: 35px;
    }
    .typing-text{
        font-size: 60px;
    }
    
}
